   

  
  
  
  <header id="m">

    <nav class="  align-self-center navbar fixed-top navbar-expand-lg navbar-dark orange lighten-1 scrolling-navbar">
        
      <img src="image/lo.png"  style="width: 150px;height: 60px;">
      <br>
      <br>
      <br>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="  collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              
                <li class="nav-item ">
                    <a class="nav-link"   ui-sref="app.home"  >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="app.store" >Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="app.about" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="app.contact" >Contact</a>
                </li>
            </ul>
         
            
            <div class="col-3" >

              <p class="text-center" id="" style="
    position: relative;
">  <span style="
    color: #3b45c3;
    position: absolute;
    transform: translateX(10px) translateY(-4px);
    font-size: 20px;
    font-weight: bold;
    background: rgb(255 255 255);
    width: 25px;
    border-radius: 50%;
    height: 25px;
    box-shadow: 0px 2px 1px;
    
">{{basket.length}}</span><i  style="color: #ffff;cursor: pointer;" ng-click="openBasket()" class="fas fa-shopping-cart fa-2x"></i></p>
              
            </div>
<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">sign up</a>
</div>


            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<!--Main Navigation-->

<!--Main Layout-->
<main  >
  <br><br>
    
  <div ui-view="sub" > </div>

 


<br>




<div class="modal fade animated zoomIn" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold" style="color: #cc861e">Sign up</h4>
    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body mx-3"  >
    <div class="md-form mb-5 animated bounceInDown slow">
      <i class="fas fa-user prefix "  style="color:#cc861e"></i>
      <input type="text" id="orangeForm-name" class="form-control validate ">
      <label data-error="wrong" data-success="right" for="orangeForm-name" style="color:#cc861e">Your name</label>
    </div>
    <div class="md-form mb-5 animated bounceInDown slow">
      <i class="fas fa-envelope prefix " style="color:#cc861e"></i>
      <input type="email" id="orangeForm-email" class="form-control validate">
      <label data-error="wrong" data-success="right" for="orangeForm-email" style="color:#cc861e">Your email</label>
    </div>

    <div class="md-form mb-4 animated bounceInDown slow">
      <i class="fas fa-lock prefix " style="color:#cc861e"></i>
      <input type="password" id="orangeForm-pass" class="form-control validate">
      <label data-error="wrong" data-success="right" for="orangeForm-pass" style="color:#cc861e">Your password</label>
    </div>

  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button class="btn btn-deep-orange" >Sign up</button>
  </div>
</div>
</div>
</div>



<!-- Footer -->
<footer id="m" class="page-footer font-small unique-color-dark orange lighten-1 ">

<div style="background-color: #cc861e;">
  <div class="container">

    <!-- Grid row-->
    <div class="row py-4 d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-0">Get connected with us on social networks!</h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-7 text-center text-md-right">

        <!-- Facebook -->
        <a class="fb-ic">
          <i class="fab fa-facebook-f white-text mr-4"> </i>
        </a>
        <!-- Twitter -->
        <a class="tw-ic">
          <i class="fab fa-twitter white-text mr-4"> </i>
        </a>
        <!-- Google +-->
        <a class="gplus-ic">
          <i class="fab fa-google-plus-g white-text mr-4"> </i>
        </a>
        <!--Linkedin -->
        <a class="li-ic">
          <i class="fab fa-linkedin-in white-text mr-4"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <i class="fab fa-instagram white-text"> </i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
</div>



<!-- Footer Links -->
<div class="container text-center text-md-left mt-5">

  <!-- Grid row -->
  <div class="row mt-3">

    <!-- Grid column -->
    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

      <!-- Content -->
      <h6 class="text-uppercase font-weight-bold">Company name</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
        consectetur
        adipisicing elit.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Products</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <a href="#!">MDBootstrap</a>
      </p>
      <p>
        <a href="#!">MDWordPress</a>
      </p>
      <p>
        <a href="#!">BrandFlow</a>
      </p>
      <p>
        <a href="#!">Bootstrap Angular</a>
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Useful links</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <a href="#!">Your Account</a>
      </p>
      <p>
        <a href="#!">Become an Affiliate</a>
      </p>
      <p>
        <a href="#!">Shipping Rates</a>
      </p>
      <p>
        <a href="#!">Help</a>
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Contact</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
      <p>
        <i class="fas fa-envelope mr-3"></i> info@example.com</p>
      <p>
        <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
      <p>
        <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>



<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->

</main>
